#b{
    background-color: black;
    color: white;
}
#title{
    text-align: center;
    margin-top: 50px;
}
#options{
    margin-left: 40px;
    margin-top: 100px;
    padding: auto;
}
a:hover{
    color: yellow;
    
}
a{
    color: gray;
    text-decoration: none !important;
    margin-top: 30px;
}
hr{
    width: 8%;
    margin-left: 0px;
    color: grey;
    background-color: grey;
    opacity:0.8;
    
}
iframe{
    position: absolute;
    width: 1000px;
	height: 630px;
    top:0;
	bottom: 0;
	left: 0;
	right: 0;
    margin-left: 200px;
     /* background-color: yellow;  */
    color: white;
    float: left;
}


.side{
    position: absolute;
    top: 0px;
    right: 0px;
}
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  